[Unit]
Description=Gpu Fan Control Daemon
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/gpufan
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target
